@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');


.navbar ,.footer{
  background-color: #eee;
}
a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}

body {

  background-image: url(Assets/white.jpg);
  font-family: 'Montserat Alternates', cursive;
  

}

